---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Fitness.">
  <main>
    <Hero
      callToAction="Be Your Best"
      buttonText="Join Today"
      companyName="Astraus Gym"
    />
  </main>
</Layout>

<style></style>
